<span id="errors">
  <%= error_messages_for "vote" %>
</span>

<h2>
  <span id="vote_score"> 
	<%= @comment.votes.size %> votes
  </span>
  <%=h @comment.title %>
</h2>
<p>
  <h3><%=h @comment.body %></h3>
  

<p class="submitted_by"> 
  <em> 
	Submitted by: 
  	<span><%= link_to @comment.user.email, @comment.user %></span>
  </em>
</p>

<% if user_signed_in? %>
	<div id="vote_form"> 
		<% form_remote_tag :url => comment_votes_path(@comment) do %>
			<%= submit_tag 'Vote for this feedback' %> 
		<% end %>
	</div>
<% else %>
	<p>
		<em>
			<%= link_to 'Please log in', new_user_session_path %>
			to vote for this feedback!
		</em>
	</p>
<% end %>
<ul id="vote_history"> 
  <% if @comment.votes.empty? %>
	<em>No votes yet!</em> 
  <% else %>
	<%= render :partial => 'votes/vote', 
			   :collection => @comment.votes.latest %>
  <% end %>
</ul>

<h2>Discuss this Feedback</h2>
	<% if @comment.subcomments %>  
		<% for subcomment in @comment.subcomments %>
			<em><%= subcomment.user.email %> said:</em><br />
		<h3><%= subcomment.body %></h3>
		<hr />
		<% end %>
	<% else %>
		No replies yet! 
	<% end %>

<% if current_user %>
	<%= form_tag :action => "add_subcomment", :id => @comment %>
	   <%= text_area "subcomment", "body" %><br />
	   <%= submit_tag "Submit" %>
	</form>
<% else %>
	<em>
		<%= link_to 'Log in', new_user_session_path %>
		to reply to this feedback!
	</em>
<% end %>

<br /><br />
<%= link_to 'Edit', edit_comment_path(@comment) %> 
<%= link_to 'Back', comments_path %>