<span id="errors">
  <%= error_messages_for "vote" %>
</span>

<h2>
  <span id="vote_score"> 
	<%= @comment.votes.size %> votes
  </span>
  <%=h @comment.title %>
</h2>

<p>
  <b>Comment:</b>
  <%=h @comment.body %>
</p>

<p class="submitted_by"> 
  Submitted by: 
  <span><%= link_to @comment.user.email, @comment.user %></span>
</p>

<% if user_signed_in? %>
<div id="vote_form"> 
	<% form_remote_tag :url => comment_votes_path(@comment) do %>
		<%= submit_tag 'Vote for this feedback' %> 
	<% end %>
</div>
<% else %>
	<p>
		<em>
			<%= link_to 'Please log in', new_user_session_path %>
			to vote for this feedback!
		</em>
	</p>
<% end %>
<ul id="vote_history"> 
  <% if @comment.votes.empty? %>
	<em>No votes yet!</em> 
  <% else %>
	<%= render :partial => 'votes/vote', 
			   :collection => @comment.votes.latest %>
  <% end %>
</ul>
You've voted <%= @comment.times_voted_by_user %> times for this.</br>
<% if @comment.user_can_vote?%>
	Go ahead and vote!
<% else %>
	Where do you think you're going? You can't vote again!
<% end %>

<%= link_to 'Edit', edit_comment_path(@comment) %> 
<%= link_to 'Back', comments_path %>